/* 
    Document   : breadcrump
    Created on : 9 avr. 2013, 18:53:27
    Author     : g4llic4
    Description:
        Purpose of the stylesheet follows.
*/

#breadcrumb a {
  font-size: 14px;
  text-decoration: none;
}
